<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Dashboard'); ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath('/img/favicon.ico')))
        ->appendStylesheet($this->basePath('/css/bootstrap.min.css'))
        ->appendStylesheet($this->basePath('/font-awesome/css/font-awesome.min.css'))
        ->appendStylesheet('//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css')
        ->appendStylesheet($this->basePath('/adminlte/dist/css/AdminLTE.min.css'))
        ->appendStylesheet($this->basePath('/adminlte/dist/css/skins/_all-skins.min.css'))
        ->appendStylesheet($this->basePath('/adminlte/plugins/iCheck/flat/blue.css'))
        ->appendStylesheet($this->basePath('/adminlte/plugins/morris/morris.css'))
        ->appendStylesheet($this->basePath('/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css'))
        ->appendStylesheet($this->basePath('/adminlte/plugins/datepicker/datepicker3.css'))
        ->appendStylesheet($this->basePath('/adminlte/plugins/daterangepicker/daterangepicker-bs3.css'))
        ->appendStylesheet($this->basePath('/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'))
        ->appendStylesheet($this->basePath('/zfs-admin/css/dashboard.css'))

    ?>
    <?php echo $this->headStyle(); ?>
    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath('js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ->appendFile($this->basePath('js/jquery.min.js'))
        ->appendFile('//code.jquery.com/ui/1.11.2/jquery-ui.min.js')
        ->appendFile($this->basePath('js/bootstrap.min.js'))
        ->appendFile('//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
        ->appendFile($this->basePath('adminlte/plugins/morris/morris.min.js'))
        ->appendFile($this->basePath('adminlte/plugins/sparkline/jquery.sparkline.min.js'))
        ->appendFile($this->basePath('adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'))
        ->appendFile($this->basePath('adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'))
        ->appendFile($this->basePath('adminlte/plugins/knob/jquery.knob.js'))
        ->appendFile($this->basePath('adminlte/plugins/daterangepicker/daterangepicker.js'))
        ->appendFile($this->basePath('adminlte/plugins/datepicker/bootstrap-datepicker.js'))
        ->appendFile($this->basePath('adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'))
        ->appendFile($this->basePath('adminlte/plugins/iCheck/icheck.min.js'))
        ->appendFile($this->basePath('adminlte/plugins/slimScroll/jquery.slimscroll.min.js'))
        ->appendFile($this->basePath('adminlte/plugins/fastclick/fastclick.min.js'))
        ->appendFile($this->basePath('adminlte/dist/js/app.min.js'))
        ->appendFile($this->basePath('adminlte/dist/js/pages/dashboard.js'))
        ->appendFile($this->basePath('adminlte/dist/js/demo.js'))
    ?>
</head>

<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="<?php echo $this->url('management'); ?>" class="logo">Dashboard</a>
            <!-- Sidebar toggle button-->
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <?php echo $this->placeholder('menuNavigation'); ?>
                        <li>
                            <a href="<?php echo $this->url('home'); ?>">
                                <i class="fa fa-share"></i> View the Site
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">NAVIGATION</li>
                    <?php echo  $this->placeholder('sidebarNavigation'); ?>
                </ul>
            </section>
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="content-wrapper">
            <?php echo $this->partial('layout/flash-messages'); ?>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <?php echo $this->placeholder('dashboardContentHeader'); ?>
            </section>
            <!-- Main content -->
            <section class="content">
                <?php echo $this->placeholder('dashboardContentBody'); ?>
                <?php echo $this->content; ?>
            </section>
        </div>

        <footer class="main-footer">
            <p>&copy; <?php echo date('Y') ?> NIX Solutions Ltd</p>
        </footer>
    </div>
    <?php echo $this->inlineScript()
        ->appendFile($this->basePath('zfs-admin/js/urlParams.js'))
        ->appendFile($this->basePath('zfs-admin/js/dashboard.js'))
    ?>
</body>
</html>
